@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Sue+Ellen+Francisco&display=swap");

a {
  color: black;
}

a:hover {
  color: gray;
}

a:link {
  color: black;
}

.App {
  text-align: center;
}

.navbar {
  background-image: linear-gradient(
    to right,
    rgb(54, 54, 54),
    rgb(182, 182, 182),
    gray
  );
  color: black;
}

.site-footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
  background-image: linear-gradient(white, gray);
  padding: 20px 0;
}

.header-title {
  font-family: "Sue Ellen Francisco", cursive;
  color: rgb(0, 0, 0);
}

.header-text {
  font-family: "Sue Ellen Francisco", cursive;
  font-size: 60px;
}

.footer-text {
  font-family: "Sue Ellen Francisco", cursive;
  font-size: 30px;
  color: black;
}

.title-text {
  font-family: "Sue Ellen Francisco", cursive;
  font-size: 30px;
}

.entry-text {
  font-family: "Montserrat", sans-serif;
}

.quote-text {
  font-family: "Sue Ellen Francisco", cursive;
  font-size: 25px;
  color: rgb(78, 78, 78);
}

.author-text {
  font-family: "Montserrat", sans-serif;
  padding: 7px;
}

.year-text {
  font-family: "Sue Ellen Francisco", cursive;
  font-size: 25px;
}

.form-text {
  font-family: "Montserrat", sans-serif;
}

.submit-text {
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
}

.dropdown.open a:focus {
  background-color: #6dbcc9;
}

.centered {
  margin: auto;
  padding: 10px;
}

/* Contact Form CSS */

p {
  text-align: center;
  font-weight: 500;
}
input[type="text"],
input[type="email"],
select,
textarea {
  width: 75%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type="submit"] {
  background-color: #898a89;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type="submit"]:hover {
  background-color: #707270;
}
