@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Sue+Ellen+Francisco&display=swap");

a {
  color: black;
}

a:hover {
  color: gray;
}

a:link {
  color: black;
}

.App {
  text-align: center;
}

.navbar {
  background-image: linear-gradient(
    to right,
    rgb(54, 54, 54),
    rgb(182, 182, 182),
    gray
  );
  color: black;
}

.site-footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
  background-image: linear-gradient(white, gray);
  padding: 20px 0;
}

.header-title {
  font-family: "Sue Ellen Francisco", cursive;
  color: rgb(0, 0, 0);
}

.header-text {
  font-family: "Sue Ellen Francisco", cursive;
  font-size: 60px;
}

.footer-text {
  font-family: "Sue Ellen Francisco", cursive;
  font-size: 30px;
  color: black;
}

.title-text {
  font-family: "Sue Ellen Francisco", cursive;
  font-size: 30px;
}

.entry-text {
  font-family: "Montserrat", sans-serif;
}

.quote-text {
  font-family: "Sue Ellen Francisco", cursive;
  font-size: 30px;
  color: rgb(78, 78, 78);
}

.author-text {
  font-family: "Montserrat", sans-serif;
}

.year-text {
  font-family: "Sue Ellen Francisco", cursive;
  font-size: 25px;
}

.dropdown.open a:focus {
  background-color: #6dbcc9;
}

.centered {
  margin: auto;
  width: 50%;
  padding: 10px;
}
