a {
  color:black;
}

a:hover {
  color: gray;
}

a:link {
  color: black;
}

.App {
  text-align: center;
}

.navbar {
  background-image: linear-gradient(to right, black, gray, white);
  color: black;
}

.NavbarToggler {
  color: black;
}

.site-footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
  background-image: linear-gradient(white, gray);
  padding: 20px 0;
}

.white-text {
  color: gray;
}